header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-size: cover;
    margin-right: auto;
    font-size: 25px;
    margin: 0;



}

ul {
    display: flex;
    list-style-type: none;


}

ul li {
    padding: 0 20px;
    color: white;
    text-shadow: 0 0 10px white;
}


h1 {
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 10px gray;
    color: gray;
    flex: 1 100px;


}


section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 80vh;








}

.info {
    display: flex;
    background-image: url(./img/green.jpg);

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-size: cover;
    padding: 0 10px;
    align-self: flex-end;
    transition: 0.3s all ease-in;
    margin-right: 50px;

}

.info:hover {
    transform: rotate(-10deg);
    font-size: 15px;
    color: rgb(170, 236, 15);
}

.main {
    align-items: center;
    color: wheat;
    display: flex;
    flex-direction: column;

    width: 500px;
    padding-left: 100px;

}

body {
    background-image: url(./img/backgroun-image.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.main>button {
    display: inline;
    margin: 50px 10px 0 10px;
    padding: 10px;
    border: 5px solid greenyellow;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 10px greenyellow;
    width: 150px;
    display: inline;




}

button>a {
    text-decoration: none;
    color: greenyellow;
    transition: 0.3s all ease-in;



}

button>a:hover {

    color: green;
    text-shadow: 0 0 10px greenyellow;

}